*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: red;
    border: black;
    padding:23rem;
}
h1{
    font-size: 2rem ;
    color: wheat;
}
p{
    font-size: 20rem;
}
a{
    text-decoration: none;
    border: 1px solid red;
}

div{
    display: flex;
}